{% extends 'base.html' %}
{% load static %}
{% block title %}Oportunidades/Emprego - Hightech-AIRER{% endblock %}
{% block content %}
    
    <!-- <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'website/images/bg_1.jpg' %});>
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Emprego 1</h1>
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Início <i class="ion-ios-arrow-forward"></i></a></span>
				<span class="mr-2"><a href="{% url 'oportunity' %}">Oportunidades <i class="ion-ios-arrow-forward"></i></a></span> 
				<span>Emprego1 <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
	</section> -->
	
	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
		<div class="container">
			<div class="row d-flex no-gutters align-items-stretch	consult-wrap">
				<div class="col-md-5 wrap-about align-items-stretch d-flex">
					<div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100">
						<h2 class="heading-white mb-4">Candidatar</h2>
						<form action="{% url 'appointment' %}" method="post" class="appointment-form" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="first_name" class="form-control" placeholder="Primeiro Nome" data-rule="minlen:4" data-msg="Por favor, digite pelo menos 4 caracteres" required>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<input type="text" name="last_name" class="form-control" placeholder="Último Nome" data-rule="minlen:4" data-msg="Por favor, digite pelo menos 4 caracteres" required>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email" data-rule="email" data-msg="Por favor, digite um email válido" required>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<input type="phone" name="phone" class="form-control" placeholder="Telefone" data-rule="minlen:9" data-msg="Por favor, digite o número de telefone" required>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<label class= "label-control" for="file">Carregar CV/Resumo:</label>
							  <input type="file" name="file" accept="application/pdf, application/vnd.ms-excel" required><br><br>
							</div> 
							<div class="form-group">
					  <textarea name="message" id="" cols="30" rows="5" class="form-control" placeholder="Carta de Apresentação" data-rule="minlen:8" data-msg="Por favor, digite pelo menos 8 caracteres na carta" required></textarea>
					  <div class="validate"></div>
					</div>
					<div class="form-group">
						<input type="submit" value="Submeter" class="btn btn-secondary py-3 px-4">
					  </div>
					</form>
					</div>
				</div>
				<div class="col-md-7 wrap-about ftco-animate align-items-stretch d-flex">
					<div class="bg-white p-5">
						<h2 class="mb-4">{{ oportunity.title }}</h2>
						<div class="text media-body">
							<h3>A Hightech-AIRER está a contratar um {{oportunity.type_job}}</h3>
							<p><b>Categoria de Trabalho:</b> {{oportunity.category}}</p>
							<p><b>Horário de Trabalho:</b> {{oportunity.work_time}}</p>
							<p><b>Localização:</b> {{oportunity.location}}</p>
						</div>
						<div class="services">
							<div class="icon mt-2"><span class="flaticon-analysis"></span></div>
							<h3>Detalhes da oferta:</h3>
							<p>{{oportunity.description}}</p>
						</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}