{% extends 'base.html' %}
{% load static %}
{% block title %}Oportunidades - Hightech-AIRER{% endblock %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'website/images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Oportunidades</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Início <i class="ion-ios-arrow-forward"></i></a></span> <span>Oportunidades <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row no-gutters justify-content-center mb-5">
          <div class="col-md-6 text-center heading-section ftco-animate">
          	<span class="subheading">Oportunidades</span>
            <h2 class="mb-4">Carreiras</h2>
            <p>Se é pró-ativo, inovador, e gosta de trabalhar em equipa, 
				envie-nos o seu currículo, porque oferecemos a chance de fazer parte de uma equipa 
				com um trabalho fascinante que o desafiará constantemente.</p>
            <p></p>
          </div>
        </div>
        <div class="row oportunity">
			{% for oportunity in object_list %}
        	<div class="col-md-4">				
        		<div class="project">
					<!-- <div class="img rounded mb-4" style="background-image: url(images/project-1.jpg);"></div> -->
					
        			<div class="text w-100 text-center">
						<a href="{% url 'job' oportunity.pk %}">
        				<span class="cat">{{oportunity.title}}</span>
        		
					</div>
					
					<div class="text-oportunity">
				
						<p><b>Categoria de Trabalho:</b> {{oportunity.category}}</p>
						<p><b>Horário de Trabalho:</b> {{oportunity.work_time}}</p>
						<p><b>Localização:</b> {{oportunity.location}}</p>
					</div>
				
				</div>				
			</div>
			{% endfor %}
        	
        	
        </div>
        
			</div>
		</section>
	
		
{% endblock %}